
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myRecipeLabel">Create or edit a Recipe</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="recipe.id" readonly />
        </div>
        <div class="form-group">
            <label for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="recipe.name"
                    required ng-minlength="2" />
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.name.$error.minlength" translate-value-min="2">
                    This field is required to be at least 2 characters.
                </p>
            </div>
        </div>
        <div class="btn btn-outline" ng-click="recipe.ingredients.push({
                                    id: null,
                                    quantity: 1
                                })">Add Ingredient</div>
        <div class="form-group" ng-repeat="ingredientQuantity in recipe.ingredients track by $index">
            
            <label for="field_ingredient">Ingredient</label>
            <select class="form-control" id="field_ingredient" name="ingredient" ng-model="ingredientQuantity.ingredient" ng-options="ingredient as ingredient.name for ingredient in ingredients track by ingredient.id"></select>
            <input type="number" class="form-control" name="quantity" id="field_quantity"
                    ng-model="ingredientQuantity.quantity"
                    required min="0" /> {{ingredientQuantity.ingredient.unit}}
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
